* {
    margin: 0;
    padding: 0;
  }

.sports-container {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    position: relative;
}

.btn-container {
    position: relative;
}

.image-container {
    position: relative;
    width: 350px;
    height: 200px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 30px; /* Adjust font size */
    font-weight: bold; /* Adjust font weight */
    text-align: left;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

.football-container {
    position: relative;
}

.home-page {
    background-color: #333;
}