* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkout-container {
    border: 0px;
    margin-top: 90px;
    margin-left: 50%;
    transform: translate(-50%);
    max-width: 800px;
    padding: 40px;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0 0 20px rgba(18, 18, 18, 0.2);
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 2;
  }
  
  .checkout-title {
    font-size: 32px;
    margin-bottom: 30px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .checkout-items {
    list-style: none;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .checkout-item {
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  .item-name {
    font-size: 24px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .item-quantity {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .item-total-price {
    font-size: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  .customer-info {
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: transparent;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .total-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .total-text {
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .total-amount {
    color: black;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
}

  .place-order-button {
    background-color: rgb(81, 178, 79);
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .place-order-button:hover {
    background-color: rgb(58, 129, 57);
  }
  
  .back-to-cart-button {
    background-color: rgb(81, 178, 79);
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .back-to-cart-button:hover {
    color: rgb(58, 129, 57);;
  }