* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.country-flag {
    width: 40px;
    padding-right: 10px;
}

.team-flag {
    width:100px;
}

.competition-details {
    display: flex;
    align-items: row;
    font-size: 20px;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 10px;
}

.team-container {
    display: flex;
    align-items: row;
    justify-content: space-around;
}

.competition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-container {
    display: flex;
    justify-content: center;
}

.date-game{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.page-title {
    font-size: 35px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Arial', sans-serif;
}

.date-container p {
    font-size: 20px;
    color: white;
    font-family: 'Arial', sans-serif;
}

.team-container p {
    font-size: 20px;
    color: white;
    font-family: 'Arial', sans-serif;
}

.game-details {
    justify-content: space-around;
}

.ticket-container {
    margin: 20px;
}

.ticket-container p {
    margin-bottom: 5px;
    color: white;
}

.ticket-container button {
    padding: 8px 12px;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #8f1a1a;
    color: white;
    border: none;
    border-radius: 4px;
}
